<style>
    :root {
        /* Primary theme color */
        --primary-color: #bbbbdd;
        /* Primary theme text color */
        --primary-text-color: #335599;
        --primary-text-color-over: #000000;
        /* Primary theme link color */
        --primary-link-color: #f9bb2d;
        /* Secondary color: the background body color */
        --secondary-color: #ddddff;
        --secondary-text-color: #303030;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #2255aa;
        --toc-background-color: white;
        --code-color: #4a4a4a;
        --code-background-color: white;

        --shadow-color: #dddddd;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #112233;
            --primary-text-color: #d7e7f7;
            --primary-text-color-over: #ffffff;
            --primary-link-color: #9b9bab;
            --secondary-color: #222f3f;
            --secondary-text-color: #b2b2b7;
            --toc-highlight-text-color: #cceeff;
            --toc-background-color: #2f3a4a;
            --code-color: white;
            --code-background-color: #2f3a4a;

            --shadow-color: #202020;
        }
    }
</style>
