<style>
    :root {
        --primary-color: #112233;
        --primary-text-color: #d7e7f7;
        --primary-text-color-over: #ffffff;
        --primary-link-color: #9b9bab;
        --secondary-color: #222f3f;
        --secondary-text-color: #b2b2b7;
        --toc-highlight-text-color: #cceeff;
        --toc-background-color: #2f3a4a;
        --code-color: white;
        --code-background-color: #2f3a4a;

        --shadow-color: #202020;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --primary-color: #a8c5dd;
            --primary-text-color: #082837;
            --primary-text-color-over: #4488b9;
            --primary-link-color: #5b5b7b;
            --secondary-color: #e9f7ff;
            --secondary-text-color: #606080;
            --toc-highlight-text-color: #2255aa;
            --toc-background-color: white;
            --code-color: white;
            --code-background-color: #2f3a4a;

            --shadow-color: #c9d7eb;
        }
    }
</style>
