{% extends "hush/templates/home.html" %}

{% block head %}
<link rel="stylesheet" href="{{ get_url(path="term.css") }}">
<link rel="stylesheet" href="{{ get_url(path="card.css") }}">
{% endblock head %}

{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        Zero Stress Automation
    </h1>
    <h3 class="title-text">
        <b>Peace</b> is a framework to create empathetic and forgiving software automation.
    </h3>
    <div>
        <style type="text/css">
          .github-button {
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
            font-weight: 600;
            line-height: 16px;
            vertical-align: bottom;
          }
          .github-button > span {
            height: 16px;
            padding: 5px 10px;
            font-size: 12px;
            color: #24292f;
            background-color: #ebf0f4;
            border-color: #ccd1d5;
            border-color: rgba(31,35,40,.15);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f6f8fa'/%3e%3cstop offset='90%25' stop-color='%23ebf0f4'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
            background-image: -moz-linear-gradient(top, #f6f8fa, #ebf0f4 90%);
            background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
            filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFF6F8FA', endColorstr='#FFEAEFF3');
          }
          .github-button > span:first-child {
            border-radius: .25em 0 0 .25em;
          }
          .github-button > span:last-child {
            border-radius: 0 .25em .25em 0;
          }
          .github-button > span:last-child::after {
            content: '??';
          }
          .github-button > span > svg {
            vertical-align: text-bottom;
          }
        </style>
        <a
          class="github-button"
          href="https://github.com/azriel91/peace"
          data-size="large"
          data-show-count="true"
          aria-label="Star azriel91/peace on GitHub"
        >
            <span>
                <svg viewBox="0 0 16 16" width="16" height="16" class="octicon octicon-mark-github" aria-hidden="true">
                    <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                </svg>&nbsp;
                <span>Star</span>
            </span>
            <span></span>
      </a>

      <a
          class="github-button"
          href="https://github.com/azriel91/peace/fork"
          data-size="large"
          data-show-count="true"
          aria-label="Fork azriel91/peace on GitHub"
        >
            <span>
                <svg viewBox="0 0 16 16" width="16" height="16" class="octicon octicon-mark-github" aria-hidden="true">
                    <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                </svg>&nbsp;
                <span>Fork</span>
            </span>
            <span></span>
      </a>
    </div>
</section>
<img class="hero-image" style="width: 50%" src="/img/dove.svg" />

<div class="explore-more text"
    onclick="document.scrollingElement.scroll({ top: document.querySelector('.hero').offsetHeight + 30, left: 0, behavior: 'smooth' });">
    Explore More ⇩
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }

    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none
        }
    }
</style>
{% endblock hero %}

{% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico">
{% endblock favicon %}

{% block toc %}
{% if section.toc %}
{% set toc = section.toc %}
{% elif page.toc %}
{% set toc = page.toc %}
{% endif %}
{% if toc %}
<div class="toc">
    <div class="toc-sticky">
        {% for h in toc %}
        <div class="toc-item">
            <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
        </div>
        {% if h.children %}
        {% for h2 in h.children %}
        <div class="toc-item-child">
            <a class="subtext" href="{{h2.permalink | safe}}">- {{ h2.title }}</a>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock toc %}

{% block footer %}
<footer>
    <small class="subtext">
        <a href="https://peace.mk">peace.mk</a> © 2025
    </small>
</footer>
{% endblock footer %}
